<% provide :title, @artist.name + " in Berlin" if @artist %>
<% provide :page_title, @artist.name + " in Berlin" if @artist %>
<% provide :keywords, @artist.name %>

<div class="hidden-phone">
	<div class="span4">
		Künstler
	</div>
	<div class="span3">
		Komponisten
	</div>
	<div class="span3">
		Ort
	</div>
	<div class="span2">
		Beginn
	</div>
</div>
	<table class="table table-striped">
	  <tbody>
		<%= render @events %>
	  </tbody>
	</table>
