<% provide :title, @work.name + " in Lübeck" if @work %>
<% provide :page_title, @work.name + " in Lübeck" if @work %>
<% provide :keywords, @work.name %>

<div class="hidden-phone">
	<%= render :partial => 'events/label_bar'%>
</div>
</div>
	<table class="table table-striped">
	  <tbody>
		<%= render @events %>
	  </tbody>
	</table>