<% provide :title, @work.name + " in Lübeck" if @work %>
<% provide :page_title, @work.name + " in Lübeck" if @work %>
<% provide :keywords, @work.name %>

<div class="hidden-phone">
	<%= render :partial => 'events/label_bar'%>

		<table class="table table-striped">
	  <tbody>
		<%= render @events %>
	  </tbody>
	</table>

</div>

<div class="visible-phone">
		<table class="table table-striped">
	  <tbody>
		<%= render :partial => 'events/very_short_event', :collection => @events %>
	  </tbody>
	</table>
</div>