	<div class="span4">
		Was

	</div>
	
	
		<div class="span2">
			
		</div>
	

	<% unless params[:controller] == "categories" %>
		<div class="span2">
			
		</div>
	<%end%>

	<% if params[:controller] == "categories" && @category.subcategories.any? %>

		<div class="span2">
			
		</div>

	<%end%>
	
		<div class="span2">
			<% unless params[:controller] == "venues"%>Ort<%end%>
		</div>
	
	<div class="span2">
		Beginn
	</div>