<div class ="span5">
	<div class="row-fluid">

		<div class="span7">
			Was

		</div>
		
		
			<div class="span5">
				
			</div>
	</div>
</div>



			<div class="span2">
				Genre
			</div>


	<% unless params[:controller] == "venues"%>
		<div class="span3">
			Ort
		</div>
	<%end%>
	
	<div class="span2">
		Beginn
	</div>