	<div class="span2">
		Wer
	</div>
	<div class="span2">
		Was
	</div>
	
	<% unless params[:controller] == "types" or params[:controller] == "categories" %>
		<div class="span2">
			
		</div>
	<%end%>

	<% unless params[:controller] == "categories" or params[:controller] == "events" or params[:controller] == "works" %>
		<div class="span2">
			
		</div>
	<%end%>
	<% unless params[:controller] == "venues"%>
		<div class="span2">
			Ort
		</div>
	<%end%>
	<div class="span2">
		Beginn
	</div>