<tr onclick="location.href='<%=event_path(short_event)%>';" style="cursor:pointer">
        <td>

<div class = "short_event_listing">

	<div class="span8">
			<div class ="event_details_item"%>
				<%= link_to short_event.venue.name, short_event.venue %>
			</div>
							
	</div>



	<div class="span4">
		<%= short_event.time.strftime("%a, %e. %b, %-H:%M Uhr") %><br>
		
	</div>

	</div>
</div>
</td>
</tr>