<tr>
        <td>
<div class = "very_short_event_listing" onclick="location.href='<%=event_path(very_short_event)%>';" style="cursor:pointer">

	<div class="span8">
		<% if very_short_event.works.any? %>
			<%= render :partial => 'works/full_work', :collection => very_short_event.works %>
		<%else%>
			<%= render very_short_event.artists %>
		<%end%>
	</div>

	<div class="span4">
		<%= very_short_event.time.strftime("%b %d") %>
	</div>


</div>
</td>
</tr>

