<tr onclick="location.href='<%=event_path(very_short_event)%>';" style="cursor:pointer">
        <td>
<div class = "very_short_event_listing" >

	<div class="span8">
		<% if very_short_event.works.any? %>
			<%= render very_short_event.works %>
		<%else%>
			<%= render very_short_event.artists %>
		<%end%>
	</div>

	<div class="span4">
		<%= very_short_event.time.strftime("%H:%M Uhr, %b %d") %>
	</div>


</div>
</td>
</tr>

