<% provide :page_title, @venue.name %>
<% provide :title, @venue.name%>
<% provide :keywords, @venue.name %>

	<%= @venue.address %> <%= link_to "(Karte)","http://maps.google.de/maps?q=#{@venue.address}+Lübeck" %>
	<br>
	<%= link_to @venue.url, "http://#{@venue.url}" %>
	<br><br><br>
<div class="hidden-phone">
	<div class="span3">
		Wer
	</div>
	<div class="span7">
		Was
	</div>
	<div class="span2">
		Beginn
	</div>
</div>
</div>
	<table class="table table-striped">
	  <tbody>
		<%= render @events %>
	  </tbody>
	</table>
