// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
@import "bootstrap-responsive";

.container {
    
  width: 100%;

}

body {
		font-size: 14px;	
		font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
		a {
			color: #3b5998;
		}

}

.pagination {
			font-size: 14px;	
		font-family: 'lucida grande',tahoma,verdana,arial,sans-serif;
		a {
			color: #3b5998;
		}

}

footer {
	font-size: 12px;
	margin-top: 40px;



}

li {
	list-style: none;
    padding: 20px 0 10px;
    border-bottom: 1px solid lightgray;
    
  }

  .search_box {
	margin-top: 17px;
	margin-bottom: -33px;
}

.fb-like {
	margin-top: 22px;
	margin-bottom: 17px;
}

.logo {
		font-size: 23px;

		margin-top: 8px;
		margin-bottom: 60px;

}

.slogan {
		font-size: 19px;
		margin-top: 20px;
				a {
			color: $black;
		}
}

#event_listing {
	
	font-size: 14px;		

}

.short_event_listing {
	
			

}

.very_short_event_listing {
	
  

}



.event_details {
	

padding: 10px;
}


.category_menu {
	
margin-left: 5%;


}

.mobile_category_menu {
	
margin-top: 40px;
margin-bottom: 40px;
font-size: 21px;

}


.event_bar {

}

.same_categories_events {
	margin-top: 20px;
	
}

.event_details_item {
	margin-bottom: 20px;

}

.sub_categories {
	margin-top: -16px;
	margin-bottom: -16px;
}

